html {
    background-color: aliceblue;
}

body {
    background-color: #9D3BAD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

img {
    height: 200px;
    width: 200px;

    
}


section {

    padding:30px;
    margin: 50px;
    width:400px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    text-align: center;
    flex-direction: column;
    
}

main {
    margin: 50px;
    padding:30px;
    width:400px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}


h1 {
    font-family: 'Pangolin', cursive;
}


h2, h3 , label {
    font-family: 'Raleway', sans-serif;
}


button {
    font-family: 'Pangolin', cursive;
    cursor: pointer;
    margin: 20px;
}

input {
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    
}

.displacements {

    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;

}

input[type='range'] {
    -webkit-appearance: none;
    cursor: pointer;
    margin: 0;
    padding: 0 5px;
    height: 20px;
    background: #DFA3D8;
    border-radius: 5px;
}

textarea {
    height: 92px;
    width: 318px;
    font-family: 'Raleway', sans-serif;
}